.vs
.vscode
pracdemo
LC_chip_generator/
Superconducting-Circuit-Design/
Manuscript.md
Tutorial.ipynb
Practice.py
output/Inductor_3D.mph
*.dwg
*.log
*.mph
*.prt
*.dxf
*.stp
output/LGenerator_sim_num_layers3.gds
output/LGenerator_sim_num_layers3.3mf
output/Inductor.mph.lock
output/Array_without_voltage_division_inverse.gds
output/LC_array_4inch_without_votage_division_inverseGP.gds
