.vs
.vscode
pracdemo
LC_chip_generator/
Superconducting-Circuit-Design/
Manuscript.md
Tutorial.ipynb
Practice.py
output/Inductor_3D.mph
*.dwg
*.log
*.mph
*.prt
*.dxf
*.stp
output/LGenerator_sim_num_layers3.gds
output/LGenerator_sim_num_layers3.3mf
